.message {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 150px;
}

.text {
    text-align: left;
    padding: 10px;
    width: calc(100% - 20px);
    margin: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: #59341F solid 1px;
}

.button {
    padding: 13px 10px 12px 10px;
    width: calc(100% - 10px);
    margin: 10px 10px 10px 0;
    box-sizing: border-box;
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    border: #59341F solid 1px;
}
