.contact {
    border-radius: 5px;
    background: #59341F;
    width: auto;
    padding: 10px;
    margin: 10px;
    color: #E4C9B9;
    display: block;
    border: #59341F solid 1px;
}

a.active {
    background: #E4C9B9;
    color: #59341F;
}