.search {
    width: 220px;
    text-align: center;
    padding-top: 12px;
}

.input {
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    border: #59341F solid 1px;
    background-color: antiquewhite;

}

.button {
    padding: 5px 5px;
    border-radius: 5px;
    margin-left: 10px;
    border: #59341F solid 1px;
    background-color: antiquewhite;
}