* {
  margin:0;
  padding:0;
  font-size: 18px;
  font-weight: 600;
}

button {
  font-size: 14px;
  font-weight: 300;
  padding: 2px;
}

.app-wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-areas: "h" "сon";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 3fr;
  width: 100%;
  max-width: 1170px;
}

.app-wrapper-content {
  grid-area: сon;
  margin-top: 4px;
  color: #100701;
}
