.navbar {
  width: auto;
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
}

ul li {
  padding: 0px 10px;
  font-size: 18px;
  display: inline-block;
}

a.active {
  background: chocolate;
  padding: 20px 10px 16px;
}