.navbar {
    width: auto;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
}

ul li {
    padding: 16px 5px;
    font-size: 18px;
    display: inline-block;
}

a.active {
    background: #E4C9B9;
    padding: 20px 10px 20px;
    color: #59341F;
}